*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Verdana";
 
}

h1{
    padding-bottom: 30px;
    color: #e91e63;
    
}

a{
    color: black;
    background-color: transparent; 
    text-decoration: none;
}

a:hover {
    color: #e91e63;
  }
  

.image{
    text-align: center;
}

.women{
    padding-bottom: 20px;
    border-bottom: gray 1px solid;
}
